*{
  box-sizing: border-box;
}
.App {
  /* font-family: sans-serif;
  text-align: center; */
}

body{
  
  width: 100%;
}

.board{
  border: 1px dashed red;
  width: 100%;
}

.board ul{
  border: 1px dashed green;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
   /* height: 300px;
  margin: 0;
  padding: 0;
  display:flex;
  flex-wrap: wrap; */
  /* align-content: center; */
}

.board li {
  border: 1px dashed blue;
  display: flex;
  width: calc(100%/4);
  height: calc(100%/4);
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;

  /* vertical-align: middle; */
  /* font-size: 2em;
  flex-shrink: 0;
  display: table;
  flex: 1 0 21%;
  
  
  text-decoration: none;
  list-style: none;
   */
}
.board li div{
  display: inline-block;
  border: 1px dashed blue;
  vertical-align: middle;
  width: calc(100%/1.2);
  height: calc(100%/1.2);
  line-height: 90px;
  text-align: center;
}