@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
  box-sizing: border-box;
}
.App {
  /* font-family: sans-serif;
  text-align: center; */
}

body{
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

.board{
  border: 1px dashed red;
  width: 100%;
  padding: 20px;
}

.board ul{
  border: 1px dashed green;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.board li {
  border: 1px dashed blue;
  display: flex;
  width: calc(100%/4);
  height: calc(100%/4);
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer ;
  transition: background-color .5s;
  border-radius: 10px;
}
.board li div{
  font-size: 2.4em;
  display: inline-block;
  border: 1px dashed blue;
  border-radius: 10px;
  vertical-align: middle;
  width: calc(100%/1.5);
  height: calc(100%/1.5);
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
}
.board li:hover{
  background: #ffc;
}

.notVisited{
  background-color: #fff;
}

.visited{
  background-color: #fcf;
}